.login-form {
    form {
        width: 90%;
        display: block;
        margin: 0px auto;
        padding: 10px;
        font-size: 18px;

        input {
            min-width: 310px;
            height: 30px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
}

.login-form form {
    background-color: rgb(157, 209, 98);
}

@media (min-width: 400px) {
    .login-form,
    .register-form {
        form {
            width: 320px;
            display: block;
            margin: 0px auto;
        }
    }
}