.card {
    display: inline-block;
    width: 99%;
    margin-top: -10px;
    text-align: center;


    img {
        border: 3px solid $borders;
        border-radius: 10px;

        &:hover {
            border-color: $orange;
        }
    }

    h2 {
        margin-top: 0px;
        font-size: 26px;
        color: $text;
        text-shadow: 2px 2px 5px $borders, -2px -2px 5px $borders;
        
            &:hover {
                text-shadow: 3px 3px 5px $borders, -3px -3px 5px $borders;
            }
        
        &:hover {
            text-shadow: $borders 4px 0 7px;
        }
    }

    h2.title-quiz {
        margin-top: -60px;
    }
    
    .card-result {
        border: 2px solid $borders;
        border-radius: 10px;
        padding-top: 20px;
        display: inline-block;
        margin-bottom: 30px;
        width: 280px;
        height: 320px;
        background-color: rgba(241, 186, 144, 0.5);
        background-image: url('../assets/bg1.png');
    }
}

.card.card-quiz {
    height: 230px;
}

@media (min-width: 620px) {
    .card {
        width: 49%;
    }
}

@media (min-width: 1300px) {
    .card {
        width: 33%;
    }
}