.card {
    display: inline-block;
    width: 99%;
    margin-top: -10px;
    text-align: center;


    img {
        border: 3px solid $borders;
        border-radius: 10px;

        &:hover {
            border-color: $orange;
        }
    }

    h2 {
        top: 0px;
        width: 80%;
        padding-left: 10%;
        font-size: 22px;
        color: $text;
        text-shadow: 2px 2px 5px $dark-blue, -2px -2px 5px $dark-blue;
    }

    h2.title-quiz {
        margin-top: -60px;
    }
    
    h2.title-blog {
        margin-top: -160px;
        margin-left: 10%;
        width: 60%;
        font-size: 22px;
    }
    
    .card-result {
        border: 2px solid $borders;
        border-radius: 10px;
        padding-top: 20px;
        display: inline-block;
        margin-bottom: 30px;
        width: 280px;
        height: 340px;
        background-color: rgba(241, 186, 144, 0.5);
        background-image: url('../assets/bg1.png');
        font-size: 20px;

        h2 {
            font-size: 26px;
        }
    }
}

.card.card-quiz, .card.card-blog {
    height: 230px;
}

@media (min-width: 620px) {
    .card {
        width: 49%;
    }
}

@media (min-width: 1300px) {
    .card {
        width: 33%;
    }
}